{%extends 'base.html'%}
{% load static %}

{% block content %}

<h1>About Us</h1>
<p style="font-size: 28px; font-weight: bold;">This website is a project and was made for educational purposes.<br>
It is our senior project creation and continous development for our CS 4360 class at Metropolitan State University of Denver.
The idea for this project was to create a website that essentially combines the functionalities of both a bookstore and library (in terms of both renting and purchasing books).
This project was made possible by Antonio Lopez, Huy Bui, Noemi Marquez, and Jesus Castaneda Magallanes. Thank you!</p>
<hr style="color: rgba(76, 151, 201, 0.822); height: 4px; display: block; opacity: 100%;">
<br></br>
<section id = "aboutus">
    <div class = "contt">
        <div class = "row">
            <div class = "col-sm-7">
                <h2 class = "text-center"><strong>Noemi Marquez</strong></h2>
                <p style="font-size: 25px;">I am currently student at Metropolitan State University<br>majoring in Computer Science. 
                    I like reading, extreme sports<br> and learning new things every day.<br> I hope you enjoy exploring our website!</p>
                <p></p>
            </div>
            <div class = "col-sm-5">
                <div class = "img-wrap">
                    <img alt="Image of Boss Noemi Bui" src = "{% static 'images/placeholder.png' %}" style = "width: 90%;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 10px 10px 10px 10px #303030;
                    margin-bottom: 65px;">
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <div class = "contt">
        <div class = "row">
            <div class = "col-sm-5">
                <div class = "img-wrap">
                    <img alt="Image of Kid Jesus Bui" src = "{% static 'images/placeholder.png' %}" style = "width: 90%;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 10px 10px 10px 10px #303030;
                    margin-bottom: 65px;">
                </div>
            </div>
            <div class = "col-sm-7">
                <h2 class = "text-center"><strong>Jesus Castaneda Magallanes</strong></h2>
                <p style="font-size: 25px;">Hello there! So you want to know a little about me huh?<br>
                    Well I am currently a student at Metropolitan State Univeristy of Denver (MSU Denver for short), majoring in Computer Science.
                 Also, just to throw something random in here...I like football, specifically the Denver Broncos. 
                 Hope you like our website! I also hope to keep on learning and getting better!<br>Fun fact: Dolphins sleep with one eye open.</p>
                <p></p>
            </div>
        </div>
    </div>
    <br></br>
    <div class = "contt">
        <div class = "row">
            <div class = "col-sm-7">
                <h2 class = "text-center"><strong>Huy ㋡ Bui <br> ✾ Fact about me ✾</strong></h2>
                <p style="font-size: 25px;">
                    웃 My full name: Bùi Thế Huy <br>
                    ❂ I Like Money. So if you love our website, you can send me money through cash app or venmo. <br>
                    ❂ Like spicy food and free food. <br>
                    ❂ My bed is my favorite place <br>
                    ❂ Boss Hunter is my favorite game <br>
                    ❂ Favorite character: Sun Wukong ( The monkey king) <br>
                    ❂ Favorite movie: Breaking Bad<br>
                    Below is some of my favorite quotes<br>
                    ☀ 思い出を抱いて死ね、夢ではなく<br>
                    ☀ On Your Deathbed, you get visited by a person you could have been ヅ
                </p>
                <p></p>
            </div>
            <div class = "col-sm-5">
                <div class = "img-wrap">
                    <img alt="Image of RuumBui" src = "{% static 'images/huy1.jpg' %}" style = "width: 55%;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 10px 10px 10px 10px #303030;
                    margin-bottom: 100px;">
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <div class = "contt">
        <div class = "row">
            <div class = "col-sm-5">
                <div class = "img-wrap">
                    <img alt="Image of Bùi Thế An" src = "{% static 'images/placeholder.png' %}" style = "width: 90%;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 10px 10px 10px 10px #303030;
                    margin-bottom: 65px;">
                </div>
            </div>
            <div class = "col-sm-7">
                <h2 class = "text-center"><strong>Antonio Lopez</strong></h2>
                <p style="font-size: 25px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p></p>
            </div>
        </div>
    </div>
    <br></br>
</section>

{% endblock %}
