{%extends 'base.html'%}
{% load static %}

{% block content %}
<div style="background:rgba(255, 255, 255, 0.79);">
<section id = "aboutus" style="background-color: rgba(255, 255, 255, 0.79);">
    <div class="about-section" style="padding-left: 200px; padding-right: 200px;">
        <h1>About Us</h1>
        <p>This website is a project and was made for educational purposes.<br>
            It is our senior project creation and continous development for our CS 4360 class at Metropolitan State University of Denver.
            The idea for this project was to create a website that essentially combines the functionalities of both a bookstore and library (in terms of both renting and purchasing books).
            This project was made possible by Antonio Lopez, Huy Bui, Noemi Marquez, and Jesus Castaneda Magallanes.</p>
        <p>Thank you! <br>-From the OneStop Books Family</p>
      </div>
      <br>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class = "group-box" style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background: linear-gradient(to bottom right, #979797 50%, rgb(93, 93, 93) 50%);">
        <div class="col-sm-5half" style="margin-left: 55px;">
          <div class="card">
            <img src="/static/images/placeholder.png" alt="Noemi" style="width:100%">
            <div class="container">
              <h2>Noemi Marquez</h2>
              <p class="title">Developer</p>
              <p>I am currently student at Metropolitan State University<br>majoring in Computer Science. 
                I like reading, extreme sports<br> and learning new things every day.<br> I hope you enjoy exploring our website!</p>
            </div>
          </div>
        </div>
      
        <div class="col-sm-5half" style="margin-left: 155px;">
          <div class="card">
            <img src="/static/images/placeholder.png" alt="Huy" style="width:100%">
            <div class="container">
              <h2>Huy Bui</h2>
              <p class="title">Developer</p>
              <p>I am currently student at Metropolitan State University<br>majoring in Computer Science. 
                I like reading, extreme sports<br> and learning new things every day.<br> I hope you enjoy exploring our website!</p>
            </div>
          </div>
        </div>
      
        <div class="col-sm-5half" style="margin-left: 55px;">
          <div class="card">
            <img src="/static/images/placeholder.png" alt="Jesus" style="width:100%">
            <div class="container">
              <h2>Jesus Castaneda M.</h2>
              <p class="title">Developer</p>
              <p>Hello there! So you want to know a little about me huh?<br>
                Well I am currently a student at Metropolitan State Univeristy of Denver (MSU Denver for short), majoring in Computer Science.
             Also, just to throw something random in here...I like football, specifically the Denver Broncos. 
             Hope you like our website! I also hope to keep on learning and getting better!<br>Fun fact: Dolphins sleep with one eye open.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-5half" style="margin-left: 155px;">
            <div class="card">
              <img src="/static/images/placeholder.png" alt="Antonio" style="width:100%">
              <div class="container">
                <h2>Antonio Lopez</h2>
                <p class="title">Developer</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                    typesetting, remaining essentially unchanged.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</section>
</div>

{% endblock %}

