{%extends 'base.html'%}
{% load static %}

{% block content %}

<h1>Cart Page</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"><strong>PURCHASES:</strong></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:2"><strong>Total</strong></div>
                <div style="flex:1"></div>
            </div>

            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" alt="Image of the book" src="{{item.product.thumbnail_pic.url}}"></div>
                <div style="flex:2"><p>{{item.product.title}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product={{item.product.isbn}} data-action="add" class="chg-quantity update-cart" alt="Image for arrow up increase quantity" src="{% static  'images/arrow-circle-up-f.svg' %}">
                        <img data-product={{item.product.isbn}} data-action="remove" class="chg-quantity update-cart" alt="Image for arrow down decrease quantity" src="{% static  'images/arrow-circle-down.svg' %}">
                    </div>
                </div>
                <div style="flex:2"><p>${{item.get_total}}</p></div>
                <div style="flex:1; text-decoration: underline;"> <button data-product={{item.product.isbn}} data-action ="delete" class="update-cart" type="button">Remove</button> </div>
                
        </div>
        {% endfor %}
        
    </div>

    <div class="col-lg-6"></div>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"><strong>RENTALS:</strong></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:2"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Due Date</strong></div>
                <div style="flex:2"></div>
            </div>
            
            {% for rent in rents %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" alt="Image of Book Cover for rent" src="{{rent.product1.thumbnail_pic.url}}"></div>
                <div style="flex:2"><p>{{rent.product1.title}}</p></div>
                <div style="flex:1"><p>{{rent.quantity1}}</p></div>
                <div style="flex:2"><p>{{rent.date_due1}}</p></div>
                <div style="flex:1; text-decoration: underline;"> <button data-product={{rent.product1.isbn}} data-action ="deleteRent" class="update-cart" type="button">Remove</button> </div>
        </div>
        {% endfor %}
    </div>
    
</div>

<div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{ buy.get_cart_items }}</strong></h5></th>
                    <th><h5>Total:<strong>${{ buy.get_cart_total|floatformat:2 }}</strong></h5></th>
                    <th>
                        <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}
