{%extends 'base.html'%}
{% load static %}

{% block content %}

<h1>Home Page</h1>

<div class="row">
    <div class="col-lg-6">
		<div class="box-element">
            <h3>Overview:</h3>
            <div class="cart-row">
                
            </div>

		</div>
    </div>
    <br></br>

    <div class="col-lg-6">
		<div class="box-element">
            <h3>Picture</h3>
            <div class="cart-row">
            
            </div>

		</div>
    </div>
</div>
<br></br>

<div class="row">
    <div class="col-lg-2">
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
    </div>
    <div class="col-lg-2">
      <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Sign-Up</a>
    </div>
</div>
<br></br>

<div class="row">
	<div class="col-lg-2" style="margin-left: 20px;">
		<div class="box-element">
            <p>Genre</p>
        </div>
	</div>
    <div class="col-lg-2" style="margin-left: 20px;">
		<div class="box-element">
            <p>Genre</p>
        </div>
	</div>
    <div class="col-lg-2" style="margin-left: 20px;">
		<div class="box-element">
            <p>Genre</p>
        </div>
	</div>
    <div class="col-lg-2" style="margin-left: 20px;">
		<div class="box-element">
            <p>Genre</p>
        </div>
	</div>
</div>


{% endblock %}
