{%extends 'base.html'%}
{% load static %}

{% block content %}

<div class="home-main">
<div class="home-text">
<h1 class="home-3dtext" style="text-align: center; font-size: 130px; margin-bottom: 0px; padding-bottom: 0%;">One<span style="color: rgb(35, 209, 235);">Stop</span> Books</h1>
</div>

<br></br>
<br></br>

<div class="rest-of">
<div class="row"  style="margin-left: 150px;">
  <div class="col-lg-4" style="margin-left: 0px;">
    <div class="box-element" style="outline-color: rgba(10, 52, 58, 0.508); outline-style: solid;
    box-shadow: 0 9px 25px hsla(0, 0%, 100%, 0.574); border-radius: 25px;">
      <a style="border-radius: 14px; background-color: rgb(255, 255, 255); display: block; text-align: center; text-decoration: none; color: black; font-weight: bold;" href="{% url 'newestbooks' %}">NEWEST BOOKS</a>
    </div>
  </div>
  <div class="col-lg-4" >
    <div class="box-element" style="outline-color: rgba(10, 52, 58, 0.508); outline-style: solid;
    box-shadow: 0 9px 25px hsla(0, 0%, 100%, 0.574); border-radius: 25px;">
      <a style="border-radius: 17px; background-color: rgb(255, 255, 255); display: block; text-align: center; text-decoration: none; color: black; font-weight: bold;" href="{% url 'booksunder' %}">BOOKS UNDER $10</a>
    </div>
  </div>
    
  <div class="col-lg-4">
    <div class="box-element" style="outline-color: rgba(10, 52, 58, 0.508); outline-style: solid;
    box-shadow: 0 9px 25px hsla(0, 0%, 100%, 0.574); border-radius: 25px;">
      <a style=" background-color: rgb(255, 255, 255); display: block; text-align: center; text-decoration: none; color: black; font-weight: bold;" href="{% url 'randombooks' %}">RANDOM BOOKS</a>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
