<header class="header">
    <div class="header1">
        <a href="#" class="logo">
            <i img src="images/ourlogo.png;" style="display:inline;"></i>
            </i>OneStop Books</a>

        <form action="" class="search-form">
            <input type="search" name ="" placeholder="Search by Title, Author, or ISBN" id="search-box">
            <label for="Search-box">search</label>
        </form>
    </div>

    <div class="header2">
        <nav class="navbar">
            <a href="">Home</a>
            <a href="books">Books</a>
            <a href="aboutus">About Us</a>
            <a href="cart">Cart</a>
        </nav>
    </div>
</header>
