{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="col-lg-3 text-center product-box">
            <img class="thumbnail img-thumbnail center-block" src="{{book.thumbnail_pic.url}}">
            <br><br>
            <h6><strong>{{book.title|truncatechars:20}}</strong></h6>
            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <br><br>
            <a class="btn btn-outline-secondary" href="#">Add to Cart</a>
            <br><br>
            <h4><strong>$10.99</strong></h4>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
