{%extends 'base.html'%}
{% load static %}
{% block content %}
<div>
    <br>
    <div class="text-center">
        <h4 style="font-size: 29px; font-weight: bold;">{{book.title}}</h4>
        <br>
        <img class="thumbnail img-thumbnail center-block" src="{{book.thumbnail_pic.url}}">
        <hr>
        <h5 style="font-size: 28px;">Product Details</h5>
        <br>
        <h6 style="font-size: 26px;"><strong>Description:</strong> {{book.description}}</h6>
        <h6 style="font-size: 26px;"><strong>ISBN:</strong> {{book.isbn}}</h6>
        <h6 style="font-size: 26px;"><strong>Author(s):</strong> {{book.authors}}</h6>
        <h6 style="font-size: 26px;"><strong>Publisher:</strong> {{book.publisher}}</h6>
        <h6 style="font-size: 26px;"><strong>Year Published:</strong> {{book.year_public}}</h6>
        <h6 style="font-size: 26px;"><strong>Price:</strong> ${{book.price}}</h6>
        <br>
        <a class="btn btn-secondary" href="#" style="font-weight: bold;">Rent</a>
        <a class="btn btn-secondary" href="#" style="font-weight: bold;">Purchase</a>
    </div>
</div>
<br>
{% endblock %}