body{
    background-color: hsl(36, 100%, 99%);
    background: url("/static/images/simple2.jpg");
    opacity: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Hubballi', cursive;
}

h1{
    font-size: 60px;
    font-weight: 100;
    margin: auto;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Noto Serif Display', serif;
}

h3{
    font-family: 'Noto Serif Display', serif;
}

p{
    font-size: large;
    font-family: 'Hubballi', cursive;
}

.box-element{
    box-shadow:hsl(0, 0%, 0%) 0 0 10px;
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
    margin-right: 148px;
}

.row-image{
    width: 80px;
}

.thumbnail{
    width: 120px;
    height: 170px;
    object-fit: cover;
}

.product-box{
    padding-top: 50px;
}

.box-element-products{
    box-shadow:hsl(0, 0%, 0%) 0 0 10px;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px;
    margin-right: 248px;
    width: 325px;
    column-width: 200px;
}

.product{
    border-radius: 0 0 8px 8px;
}

#cart-icon{
    width:25px;
    display: inline-block;
    margin-left: 15px;
}

.bg-dark{
    background-color: #4b5e88!important;
}

.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 70px;
    border-bottom: 1px solid #a5a5a5;

}

#cart-count{
    display: inline-block;
    width: 20px;
    border-radius: 30%;
    background-color: rgb(31, 134, 230);
    font-size: 14px;
    text-align: center;
    color:#fff;
}

.form-field{
    width:250px;
    display: inline-block;
    padding: 5px;
}

.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right:10px;
    

}

.chg-quantity{
    width: 15px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
}

.chg-quantity:hover{
    opacity: .6;
}

.col-lg-2, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
    margin-top: 15px;       
}

.aboutus .contt{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hidden{
    display: none!important;
}

.footer-end{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    padding-bottom: 32px; 
    height: 25px;
    margin-top: 20px;
    opacity: 90%;
}
